li{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(236, 9%, 61%);
    text-align: justify;
}

.checker{
    width: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}


.true-state{
    background-image: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.true{
    text-decoration: line-through;
    opacity: 0.3;
}